* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    /* border: solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(242, 242, 242)
}

.navbar .logo {
    width: 50%;
}

.navbar .logo img {
    /* height: 70px;
    width: 80px; */
    margin-left: 40px;
    background-color: aliceblue;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    font-size: 20px;
    margin: 10px;
}

.navbar a:hover {
    color: red;
    transition: all 0.5s ease;
    text-decoration: underline;
}

/* for all */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/*  */
/* hero section */
/* https: //assets.nicepagecdn.com/11a8ddce/3502986/images/pexels-photo-733500.jpg */

.hero {
    /* border: solid; */
    height: 65vh;
    background-image: url(https://assets.nicepagecdn.com/11a8ddce/3502986/images/pexels-photo-733500.jpg);
    background-size: cover;
    background-position: center;
    background-position: top;
    display: flex;
    /* margin-top: 50px; */
}

.hero .hero-content {

    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 60px;
    margin-top: 50px;
    padding-left: 50px;
}

.hero .hero-content h1 {
    color: rgb(16, 16, 16);
    font-size: 3rem;

}

.hero .hero-content p {
    color: rgb(44, 43, 43);
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.hero .hero-content h4 {
    color: rgb(168, 163, 163);
    font-size: 1.5rem;

}

.hero .hero-content .btn {
    /* display: flex; */
    justify-content: center;
    align-items: end;
    padding: 9px 12px;
    gap: 8px;
    height: 40px;
    width: 172px;
    border: none;
    background: #ec5e1c;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 50px;
    color: rgb(252, 253, 254);
}

.hero .hero-content .btn:hover {
    box-shadow: 2px 2px 2px 2px;
    background-color: gray;
    transition: ease-out 1s;
}

/*  card section */
.about {

    background-color: #f0cccf;

}


.card {
    /* border: solid; */
    width: 28%;
    height: 400px;
    margin: 20px;
    background-color: rgb(252, 253, 254);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

/* contact */
#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    background-color: #f9f9f9;
    gap: 20px;
}

.contact-item {
    width: 45%;
    padding: 20px;
}

.text-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.1rem;
    line-height: 1.8;
}

.text-section h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.text-section ul li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}
.text-section button{
    margin-top: 20px;
    
    width: 30%;
    display: inline-block;
    padding: 12px 20px;
    font-size: 1rem;
    background-color: #f0cccf;
    color: #fff;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.text-section .button:hover {
    background-color: #d4541b;
}

.highlight-box {
    width: 45%;
    padding: 20px;
    padding-bottom: 200px;
    background-color: #ff6600;
    color: #fff;
    border-radius: 10px;
    line-height: 1.8;
    font-size: 1.1rem;
}
.highlight-box .important {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 15px;
}

.form-container{
    margin: 30px auto;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: left;
}

.form-container h1{
    text-align: center;
    color: #ff6600;
    font-size: 35px;
}

.form-container label{
    color: rgb(167, 164, 164);
    font-family: Arial, Helvetica, sans-serif;
}

.form-container input{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover{
    background-color: white;
    color: #ff6600;
    border: 1px solid #ff6600;
}

.form-container p{
    text-align: center;
    color: black;
}

.form-container p a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}